<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917171712740-cook3clnuhfkf62jsfphsf2uk3idkqq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917171712740-cook3clnuhfkf62jsfphsf2uk3idkqq5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>917171712740-dfm9bp2iuooovajnb0kslg6jo5pcui8m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAyxJ87DZNDm67kb_a6wJvGkann5BqpGNY</string>
	<key>GCM_SENDER_ID</key>
	<string>917171712740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duckbuck.app</string>
	<key>PROJECT_ID</key>
	<string>duckbuck-studios-test</string>
	<key>STORAGE_BUCKET</key>
	<string>duckbuck-studios-test.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917171712740:ios:30b757acf5e78ccf83f2f1</string>
</dict>
</plist>