<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713893090592-m2uaf1sq4pr961jra1r5o5noetcjmvjt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713893090592-m2uaf1sq4pr961jra1r5o5noetcjmvjt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>713893090592-j0a49u5ncltebnr81qraeroch27rtk4n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBsBDnyCLp5Mi6-dmURw6kPbrrcNIvwsQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>713893090592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duckbuck.app</string>
	<key>PROJECT_ID</key>
	<string>duckbuck-studios</string>
	<key>STORAGE_BUCKET</key>
	<string>duckbuck-studios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713893090592:ios:907b32fb1d407120357345</string>
	<key>DATABASE_URL</key>
	<string>https://duckbuck-studios-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>